<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018812245884-ue4kla7hkh6rsqoudqj2ftaratbtshdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018812245884-ue4kla7hkh6rsqoudqj2ftaratbtshdg</string>
	<key>API_KEY</key>
	<string>AIzaSyBDAlmCCgxVEuGgkcAmYEXHbfvoiMi6A-o</string>
	<key>GCM_SENDER_ID</key>
	<string>1018812245884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationNetwork1</string>
	<key>PROJECT_ID</key>
	<string>first-network-e3fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>first-network-e3fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018812245884:ios:b6fac22c2ef2437be466f9</string>
</dict>
</plist>